spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fx_deals
    username: fx_user
    password: fx_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
